### PREGUNTA 2

Hallar sumatoria

In [7]:
import pandas as pd

x_values = [4, 6, 14, 19, 24]
y_values = [8, 39, 143, 360, 439]

x2 = [x**2 for x in x_values]      
x3 = [x**3 for x in x_values]      
x4 = [x**4 for x in x_values]      
xy = [x * y for x, y in zip(x_values, y_values)]     
x2y = [x**2 * y for x, y in zip(x_values, y_values)]  

data = {
    "X": x_values,
    "Y": y_values,
    "X^2": x2,
    "X^3": x3,
    "X^4": x4,
    "X*Y": xy,
    "X^2*Y": x2y,
}
df = pd.DataFrame(data)

df

    X    Y  X^2    X^3     X^4    X*Y   X^2*Y
0   4    8   16     64     256     32     128
1   6   39   36    216    1296    234    1404
2  14  143  196   2744   38416   2002   28028
3  19  360  361   6859  130321   6840  129960
4  24  439  576  13824  331776  10536  252864

In [9]:
sum_X = sum(x_values)
sum_Y = sum(y_values)
sum_X2 = sum(x2)
sum_X3 = sum(x3)
sum_X4 = sum(x4)
sum_XY = sum(xy)
sum_X2Y = sum(x2y)

print("sum_X: ", sum_X)
print("sum_Y: ", sum_Y)
print("sum_X2: ", sum_X2)
print("sum_X3: ", sum_X3)
print("sum_X4: ", sum_X4)
print("sum_XY: ", sum_XY)
print("sum_X2Y: ", sum_X2Y)

sum_X:  67
sum_Y:  989
sum_X2:  1185
sum_X3:  23707
sum_X4:  502065
sum_XY:  19644
sum_X2Y:  412384

In [ ]:
from sympy import symbols, Eq, solve

a, b, c = symbols('a b c')

n = 5

eq1 = Eq(n * a + b * sum_X + c * sum_X2, sum_Y)
eq2 = Eq(a * sum_X + b * sum_X2 + c * sum_X3, sum_XY)
eq3 = Eq(a * sum_X2 + b * sum_X3 + c * sum_X4, sum_X2Y)

solution = solve((eq1, eq2, eq3), (a, b, c))
solution